* {
  font-family: "Rubik", sans-serif;
}

:root {
  --primary-color: #7562e0;
  --secondary-color: #a696ff;
  --parent-color: #120644;
  --Tile-color: #f5f5f6;
  --final-color: #4b4567;
  font-size: 10px;
  --font-size-sl: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-normal: 4.8rem;
  --font-size-lg: 8rem;
  --font-size-xl: 12rem;
}

body {
  margin: 0;
}

.content {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  /* background-color: crimson; */
}

.home-container {
  margin: 0 200px;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  margin: 0;
  font-size: var(--font-size-md);
  color: var(--primary-color);
}

.links > a {
  text-decoration: none;
  font-size: var(--font-size-sl);
  color: #000000;
  margin: 20px;
}

/* mouse over link */
.links > a:hover {
  color: red;
}

.Divya-image {
  width: 40%;
  position: absolute;
  right: 22%;
  bottom: 0;
  z-index: -1;
}

.second-block {
  height: 100vh;
  display: flex;
  align-items: center;
}

.main-name {
  margin: 50vh 0;
}

.main-name > h1 {
  color: var(--parent-color);
  font-size: var(--font-size-lg);
  font-weight: 500;
  line-height: 89px;
  width: 213px;
  height: 106px;
}

.main-name {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.main-name > h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  width: 237px;
  height: 50px;
}

.button {
  text-decoration: none;
  font-weight: 500;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 16px 48px;
  display: inline-block;
}

.icons {
  position: absolute;
  font-size: x-large;
  width: 24px;
  height: 26px;
  right: 14.08%;
  bottom: 23.33%;
}

.icons > a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0 15px 10px 0;
}

.circle {
  width: 1020px;
  height: 1020px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  z-index: -2;
}

.circle {
  position: absolute;
  right: -386px;
  top: 242px;
}

.Overview-container {
  height: 120vh;
  width: 100%;
  position: relative;
  /* background-color: blue; */
}

.Experience {
  margin: 0 200px;
  /* background-color: darkmagenta; */
}

.exp {
  height: 158px;
  width: 149px;
}

.Exp > h1 {
  font-size: var(--font-size-xl);
  color: var(--primary-color);
  font-style: normal;
  font-weight: 500;
  line-height: 0;
  margin-top: 130px;
  margin-bottom: 57px;
}

.Exp > h3 {
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.Box {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: center;
}

.box1 {
  height: 310px;
  width: 270px;
  background-color: var(--Tile-color);
  padding: 20px;
  box-sizing: border-box;
}

.box1 {
  font-size: var(--font-size-md);
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.box2 {
  height: 310px;
  width: 270px;
  background-color: var(--Tile-color);
  padding: 20px;
  box-sizing: border-box;
}

.box2 {
  font-size: var(--font-size-md);
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.box3 {
  height: 310px;
  width: 270px;
  background-color: var(--Tile-color);
  padding: 20px;
  box-sizing: border-box;
}

.box3 {
  font-size: var(--font-size-md);
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Background-image {
  height: 30%;
  width: 64%;
  position: absolute;
  right: 28%;
  bottom: 12%;
}

.Final {
  height: 100vh;
  width: 100%;

  /* background-color: aqua; */
}

.Details {
  margin: 0 200px;
}

.expData {
  position: relative;
}

.expData > h1 {
  color: var(--final-color);
  font-size: var(--font-size-normal);
  font-style: normal;
  font-weight: 500;
}
.expTiles {
  display: flex;
  flex-direction: column;
}
.expTiles1 {
  background-color: var(--Tile-color);
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 10px 0;
  width: 543px;
  height: 117px;
}
.expTiles1 > p {
  color: #000000;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.expTiles2 {
  background-color: var(--Tile-color);
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 543px;
  height: 117px;
  margin: 10px 0;
}
.expTiles2 > p {
  color: #000000;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.expTiles3 {
  background-color: var(--Tile-color);
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 543px;
  height: 117px;
  margin: 10px 0;
}
.expTiles3 > p {
  color: #000000;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.expTiles4 {
  background-color: var(--Tile-color);
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 543px;
  height: 117px;
  margin: 10px 0;
}
.expTiles4 > p {
  color: #000000;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.expTiles5 {
  background-color: var(--Tile-color);
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 543px;
  height: 117px;
  margin: 10px 0;
}
.expTiles5 > p {
  color: #000000;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.expPic {
  width: 527px;
  position: absolute;
  right: -174px;
  bottom: 210px;
}

.edudata > h1 {
  font-size: var(--font-size-normal);
  color: var(--final-color);
  font-style: normal;
  font-weight: 500;
}

.eduTiles {
  display: flex;
  flex-direction: column;
}

.eduTile1 > p {
  color: #000000;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.eduTile1 {
  background-color: var(--Tile-color);
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 543px;
  height: 117px;
  margin: 10px 0;
}

.eduTile2 > p {
  color: #000000;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.eduTile2 {
  background-color: var(--Tile-color);
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 543px;
  height: 117px;
  margin: 10px 0;
}

.eduTile3 > p {
  color: #000000;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.eduTile3 {
  background-color: var(--Tile-color);
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 543px;
  height: 117px;
  margin: 10px 0;
}

.eduPic {
  width: 527px;
  position: absolute;
  right: 10px;
  bottom: -2460px;
}

.Rectangle {
  width: 1350px;
  height: 434px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -2915px;
}

.contact {
  font-size: var(--font-size-sl);
  background-color: transparent;
  border: #ffffff solid;
  color: #ffffff;
  padding: 12px 12px;
  position: absolute;
  right: 67%;
  top: 30%;
}
